body {
    background-color: #F0EFEC;
}
.card {
    background-color: white;
}
.span {
    color: black;
}
.header {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 320px;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
  }
.cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}