body {
    background-color: #F0EFEC;
}
.card {
    background-color: white;
}
.span {
    color: black;
}
.header {
    display: grid;
    grid-template-columns: 50% 50%
    width: 160px
    }
img {
    width: 100%;
  }